# 판다스 데이터 분석
- 데이터 처리를 위한 데이터 프레임을 제공
- 데이터 구조는 시리즈와 데이터프레임 
- 데이터 전처리와 데이터를 표형태로 처리할 때 우수한 성능을 제공

## 필수 라이브러리 로딩

In [1]:
import numpy as np
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt
%matplotlib inline

## Series 객체
- Numpy에서 제공하는 1차원 배열과 비슷하지만 각 데이터의 위치를 의미하는 index가 붙는다.
- 구성요소 : 값(valuhe) + 인덱스(index)
- 속성 : Series.index, Series.values, Series.dtype
- 형식 : pd.Series(data, index)

In [3]:
ser = pd.Series(np.random.randn(4), index=['a', 'b', 'c', 'd'])
ser

a    0.245450
b   -2.266909
c    0.567694
d   -1.799768
dtype: float64

In [4]:
ser.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [5]:
ser.values

array([ 0.24545026, -2.2669088 ,  0.56769437, -1.79976805])

In [6]:
# 파이썬의 자료구조 사전(dictionary)을 이용한 시리즈 객체 생성
data = {'seoul':2000, 'busan':2500, 'daejeon':3000} 
# 사전에 key=index
s1 = pd.Series(data)
s1

seoul      2000
busan      2500
daejeon    3000
dtype: int64

In [7]:
data = {'a':0, 'b':1, 'c':2}
s2 = pd.Series(data, index=['b', 'c', 'd', 'a'])
s2

b    1.0
c    2.0
d    NaN
a    0.0
dtype: float64

In [9]:
pd.Series(7, index=['a', 'b', 'c'])

a    7
b    7
c    7
dtype: int64

In [10]:
s1

seoul      2000
busan      2500
daejeon    3000
dtype: int64

In [11]:
s2

b    1.0
c    2.0
d    NaN
a    0.0
dtype: float64

In [12]:
ser

a    0.245450
b   -2.266909
c    0.567694
d   -1.799768
dtype: float64

In [13]:
ser[0]

0.24545026496040417

In [14]:
ser[:3]

a    0.245450
b   -2.266909
c    0.567694
dtype: float64

In [15]:
# 라벨링된 인덱스를 사용할 경우
ser['a']

0.24545026496040417

In [16]:
ser['d'] = 7
ser

a    0.245450
b   -2.266909
c    0.567694
d    7.000000
dtype: float64

In [18]:
ser[:3] # 0, 1, 2

a    0.245450
b   -2.266909
c    0.567694
dtype: float64

In [19]:
ser['a':'c']

a    0.245450
b   -2.266909
c    0.567694
dtype: float64

In [20]:
ser + ser

a     0.490901
b    -4.533818
c     1.135389
d    14.000000
dtype: float64

In [21]:
ser * 2

a     0.490901
b    -4.533818
c     1.135389
d    14.000000
dtype: float64

In [22]:
ser[1:] + ser[:-1]

a         NaN
b   -4.533818
c    1.135389
d         NaN
dtype: float64

In [23]:
ser = pd.Series(np.random.randn(5), name="seoul")
ser

0   -0.933016
1   -1.130038
2    0.255220
3    1.152452
4   -0.255089
Name: seoul, dtype: float64

In [24]:
ser1 = ser.rename('busan')
ser1

0   -0.933016
1   -1.130038
2    0.255220
3    1.152452
4   -0.255089
Name: busan, dtype: float64

In [25]:
ser1.name

'busan'

In [26]:
ser

0   -0.933016
1   -1.130038
2    0.255220
3    1.152452
4   -0.255089
Name: seoul, dtype: float64

In [27]:
ser = pd.Series(np.random.randn(4), index=['a', 'b', 'c', 'd'])
ser

a    0.066047
b   -0.282950
c    2.642681
d    0.135873
dtype: float64

In [28]:
# in, not in
# 사전을 바로 시리즈 객체로 변환이 가능하다.
# 사전에 키가 시리즈 인덱스가 된다.
ser

a    0.066047
b   -0.282950
c    2.642681
d    0.135873
dtype: float64

In [29]:
'a' in ser

True

In [30]:
'f' not in ser

True

In [31]:
# 시리즈 객체를 사전취급가능
# 사전.keys()
# 사전.values()
# 사전.items()

for key, value in ser.items():
    print("%s : %d" % (key, value))

a : 0
b : 0
c : 2
d : 0

In [32]:
# del 사전객체[키]
del ser['c']
ser

a    0.066047
b   -0.282950
d    0.135873
dtype: float64

**DataFrame : 데이터프레임(2차원 표 형태의 자료)**
- pd.DataFrame(data, index, columns)
- 여러 개의 Series가 결합된 형태

In [33]:
a = pd.DataFrame([
    [10, 20, 30],
    [40, 50, 60],
    [70, 80, 90]
])
a

    0   1   2
0  10  20  30
1  40  50  60
2  70  80  90

In [34]:
print(type(a))

<class 'pandas.core.frame.DataFrame'>

In [35]:
a.shape

(3, 3)

In [36]:
# 데이터사전을 이용한 데이터프레임 생성
df = pd.DataFrame({
    'weight':[70, 70.4, 65.5, 45.9, 51.2],
    'height':[170, 180, 155, 143, 154],
    'gender':["f", "m", "m", "f", "f"]
})
df

   weight  height gender
0    70.0     170      f
1    70.4     180      m
2    65.5     155      m
3    45.9     143      f
4    51.2     154      f

In [37]:
print(type(df))
print(type(df['weight']))

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.series.Series'>

In [38]:
df['weight']

0    70.0
1    70.4
2    65.5
3    45.9
4    51.2
Name: weight, dtype: float64

In [39]:
df[['weight', 'gender']]

   weight gender
0    70.0      f
1    70.4      m
2    65.5      m
3    45.9      f
4    51.2      f

In [41]:
# height값이 160이상인 자료만 추출
#df['height'] >= 160
df[df['height'] >= 160]

   weight  height gender
0    70.0     170      f
1    70.4     180      m

In [42]:
# 성별이 여자인 자료만 추출
df[df['gender'] == 'f']

   weight  height gender
0    70.0     170      f
3    45.9     143      f
4    51.2     154      f

In [43]:
df[df.gender == 'f']

   weight  height gender
0    70.0     170      f
3    45.9     143      f
4    51.2     154      f