- 공식문서 https://www.dexplo.org/bar_chart_race/

In [2]:
!pip install bar_chart_race

Collecting bar_chart_race
  Downloading bar_chart_race-0.1.0-py3-none-any.whl (156 kB)
     ---------------------------------------- 0.0/156.8 kB ? eta -:--:--
     -------------------------------------- 156.8/156.8 kB 4.6 MB/s eta 0:00:00
Requirement already satisfied: pandas>=0.24 in c:\anaconda3\lib\site-packages (from bar_chart_race) (1.3.4)
Requirement already satisfied: matplotlib>=3.1 in c:\anaconda3\lib\site-packages (from bar_chart_race) (3.7.2)
Requirement already satisfied: contourpy>=1.0.1 in c:\anaconda3\lib\site-packages (from matplotlib>=3.1->bar_chart_race) (1.0.5)
Requirement already satisfied: cycler>=0.10 in c:\anaconda3\lib\site-packages (from matplotlib>=3.1->bar_chart_race) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\anaconda3\lib\site-packages (from matplotlib>=3.1->bar_chart_race) (4.25.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\anaconda3\lib\site-packages (from matplotlib>=3.1->bar_chart_race) (1.4.4)
Requirement already satisfied: numpy>=1.20 in c:\anaconda3\lib\site-packages (from matplotlib>=3.1->bar_chart_race) (1.24.3)
Requirement already satisfied: packaging>=20.0 in c:\anaconda3\lib\site-packages (from matplotlib>=3.1->bar_chart_race) (23.1)
Requirement already satisfied: pillow>=6.2.0 in c:\anaconda3\lib\site-packages (from matplotlib>=3.1->bar_chart_race) (9.4.0)
Requirement already satisfied: pyparsing<3.1,>=2.3.1 in c:\anaconda3\lib\site-packages (from matplotlib>=3.1->bar_chart_race) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in c:\anaconda3\lib\site-packages (from matplotlib>=3.1->bar_chart_race) (2.8.2)
Requirement already satisfied: importlib-resources>=3.2.0 in c:\anaconda3\lib\site-packages (from matplotlib>=3.1->bar_chart_race) (5.2.0)
Requirement already satisfied: pytz>=2017.3 in c:\anaconda3\lib\site-packages (from pandas>=0.24->bar_chart_race) (2022.7)
Requirement already satisfied: zipp>=3.1.0 in c:\anaconda3\lib\site-packages (from importlib-resources>=3.2.0->matplotlib>=3.1->bar_chart_race) (3.11.0)
Requirement already satisfied: six>=1.5 in c:\anaconda3\lib\site-packages (from python-dateutil>=2.7->matplotlib>=3.1->bar_chart_race) (1.16.0)
Installing collected packages: bar_chart_race
Successfully installed bar_chart_race-0.1.0

In [3]:
import pandas as pd
import numpy as np
import bar_chart_race as bar

In [6]:
df = pd.read_csv('C:/k_digital/Data Analysis with Python/data/premierLeague_tables_1992-2017.csv')
df

,season,team,points,w,d,l,gf,ga,gd,pld,...,d_h,d_a,l_h,l_a,gf_h,gf_a,ga_h,ga_a,gd_h,gd_a
0,2017-18,Manchester City,100,32,4,2,106,27,79,38,...,2,2,1,1,61,45,14,13,47,32
1,2017-18,Manchester United,81,25,6,7,68,28,40,38,...,2,4,2,5,38,30,9,19,29,11
2,2017-18,Tottenham Hotspur,77,23,8,7,74,36,38,38,...,4,4,2,5,40,34,16,20,24,14
3,2017-18,Liverpool,75,21,12,5,84,38,46,38,...,7,5,0,5,45,39,10,28,35,11
4,2017-18,Chelsea,70,21,7,10,62,38,24,38,...,4,3,4,6,30,32,16,22,14,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
521,1992-93,Southampton,50,13,11,18,54,61,-7,42,...,6,5,5,13,30,24,21,40,9,-16
522,1992-93,Oldham Athletic,49,13,10,19,63,74,-11,42,...,6,4,5,14,43,20,30,44,13,-24
523,1992-93,Crystal Palace,49,11,16,15,48,61,-13,42,...,9,7,6,9,27,21,25,36,2,-15
524,1992-93,Middlesbrough,44,11,11,20,54,75,-21,42,...,5,6,8,12,33,21,27,48,6,-27
525,1992-93,Nottingham Forest,40,10,10,22,41,62,-21,42,...,4,6,11,11,17,24,25,37,-8,-13

In [5]:
df2 = df[['season', 'team', 'points']]
df2.head()

    season               team  points
0  2017-18    Manchester City     100
1  2017-18  Manchester United      81
2  2017-18  Tottenham Hotspur      77
3  2017-18          Liverpool      75
4  2017-18            Chelsea      70

In [9]:
# 행 'season', 열 'team', 데이터 'points'
raw = df2.pivot_table(values='points', index='season', columns='team')
raw.head()

team,Arsenal,Aston Villa,Barnsley,Birmingham City,Blackburn Rovers,Blackpool,Bolton Wanderers,Bournemouth,Bradford City,Brighton and Hove Albion,...,Sunderland,Swansea City,Swindon Town,Tottenham Hotspur,Watford,West Bromwich Albion,West Ham United,Wigan Athletic,Wimbledon FC,Wolverhampton Wanderers
season,,,,,,,,,,,,,,,,,,,,,
1992-93,56.0,74.0,NaN,NaN,71.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,59.0,NaN,NaN,NaN,NaN,54.0,NaN
1993-94,71.0,57.0,NaN,NaN,84.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,30.0,45.0,NaN,NaN,52.0,NaN,65.0,NaN
1994-95,51.0,48.0,NaN,NaN,89.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,62.0,NaN,NaN,50.0,NaN,56.0,NaN
1995-96,63.0,63.0,NaN,NaN,61.0,NaN,29.0,NaN,NaN,NaN,...,NaN,NaN,NaN,61.0,NaN,NaN,51.0,NaN,41.0,NaN
1996-97,68.0,61.0,NaN,NaN,42.0,NaN,NaN,NaN,NaN,NaN,...,40.0,NaN,NaN,46.0,NaN,NaN,42.0,NaN,56.0,NaN

In [10]:
# NaN값을 0으로 대체
raw = raw.fillna(0)
raw.head()

team,Arsenal,Aston Villa,Barnsley,Birmingham City,Blackburn Rovers,Blackpool,Bolton Wanderers,Bournemouth,Bradford City,Brighton and Hove Albion,...,Sunderland,Swansea City,Swindon Town,Tottenham Hotspur,Watford,West Bromwich Albion,West Ham United,Wigan Athletic,Wimbledon FC,Wolverhampton Wanderers
season,,,,,,,,,,,,,,,,,,,,,
1992-93,56.0,74.0,0.0,0.0,71.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,59.0,0.0,0.0,0.0,0.0,54.0,0.0
1993-94,71.0,57.0,0.0,0.0,84.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,30.0,45.0,0.0,0.0,52.0,0.0,65.0,0.0
1994-95,51.0,48.0,0.0,0.0,89.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,62.0,0.0,0.0,50.0,0.0,56.0,0.0
1995-96,63.0,63.0,0.0,0.0,61.0,0.0,29.0,0.0,0.0,0.0,...,0.0,0.0,0.0,61.0,0.0,0.0,51.0,0.0,41.0,0.0
1996-97,68.0,61.0,0.0,0.0,42.0,0.0,0.0,0.0,0.0,0.0,...,40.0,0.0,0.0,46.0,0.0,0.0,42.0,0.0,56.0,0.0

In [11]:
# 시즌별 점수가 누적해서 더해지도록 수정
raw.iloc[:] = raw.iloc[:].cumsum()

In [12]:
raw.head()

team,Arsenal,Aston Villa,Barnsley,Birmingham City,Blackburn Rovers,Blackpool,Bolton Wanderers,Bournemouth,Bradford City,Brighton and Hove Albion,...,Sunderland,Swansea City,Swindon Town,Tottenham Hotspur,Watford,West Bromwich Albion,West Ham United,Wigan Athletic,Wimbledon FC,Wolverhampton Wanderers
season,,,,,,,,,,,,,,,,,,,,,
1992-93,56.0,74.0,0.0,0.0,71.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,59.0,0.0,0.0,0.0,0.0,54.0,0.0
1993-94,127.0,131.0,0.0,0.0,155.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,30.0,104.0,0.0,0.0,52.0,0.0,119.0,0.0
1994-95,178.0,179.0,0.0,0.0,244.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,30.0,166.0,0.0,0.0,102.0,0.0,175.0,0.0
1995-96,241.0,242.0,0.0,0.0,305.0,0.0,29.0,0.0,0.0,0.0,...,0.0,0.0,30.0,227.0,0.0,0.0,153.0,0.0,216.0,0.0
1996-97,309.0,303.0,0.0,0.0,347.0,0.0,29.0,0.0,0.0,0.0,...,40.0,0.0,30.0,273.0,0.0,0.0,195.0,0.0,272.0,0.0

In [13]:
bar.bar_chart_race(df=raw,
                  n_bars=10,
                  figsize = (6, 4),
                  sort='desc',
                  title='premierLeague_tables_1992-2017')

C:\Anaconda3\lib\site-packages\bar_chart_race\_make_chart.py:286: UserWarning: FixedFormatter should only be used together with FixedLocator
  ax.set_yticklabels(self.df_values.columns)
C:\Anaconda3\lib\site-packages\bar_chart_race\_make_chart.py:287: UserWarning: FixedFormatter should only be used together with FixedLocator
  ax.set_xticklabels([max_val] * len(ax.get_xticks()))
C:\Anaconda3\lib\site-packages\bar_chart_race\_make_chart.py:226: UserWarning: Some of your columns never make an appearance in the animation. To reduce color repetition, set `filter_column_colors` to `True`
  warnings.warn("Some of your columns never make an appearance in the animation. "

Exception: You do not have ffmpeg installed on your machine. Download
                            ffmpeg from here: https://www.ffmpeg.org/download.html.

                            Matplotlib's original error message below:

                            Requested MovieWriter (ffmpeg) not available

In [14]:
import bar_chart_race as bcr
df = bcr.load_dataset('covid19_tutorial')
bcr.bar_chart_race(
    df=df,
    filename='covid19_horiz.mp4',
    orientation='h',
    sort='desc',
    n_bars=6,
    fixed_order=False,
    fixed_max=True,
    steps_per_period=10,
    interpolate_period=False,
    label_bars=True,
    bar_size=.95,
    period_label={'x': .99, 'y': .25, 'ha': 'right', 'va': 'center'},
    period_fmt='%B %d, %Y',
    period_summary_func=lambda v, r: {'x': .99, 'y': .18,
                                      's': f'Total deaths: {v.nlargest(6).sum():,.0f}',
                                      'ha': 'right', 'size': 8, 'family': 'Courier New'},
    perpendicular_bar_func='median',
    period_length=500,
    figsize=(5, 3),
    dpi=144,
    cmap='dark12',
    title='COVID-19 Deaths by Country',
    title_size='',
    bar_label_size=7,
    tick_label_size=7,
    shared_fontdict={'family' : 'Helvetica', 'color' : '.1'},
    scale='linear',
    writer=None,
    fig=None,
    bar_kwargs={'alpha': .7},
    filter_column_colors=False)

C:\Anaconda3\lib\site-packages\bar_chart_race\_make_chart.py:286: UserWarning: FixedFormatter should only be used together with FixedLocator
  ax.set_yticklabels(self.df_values.columns)
C:\Anaconda3\lib\site-packages\bar_chart_race\_make_chart.py:287: UserWarning: FixedFormatter should only be used together with FixedLocator
  ax.set_xticklabels([max_val] * len(ax.get_xticks()))
MovieWriter ffmpeg unavailable; using Pillow instead.

Exception: You do not have ffmpeg installed on your machine. Download
                            ffmpeg from here: https://www.ffmpeg.org/download.html.

                            Matplotlib's original error message below:

                            unknown file extension: .mp4